<div class="alert" [ngClass]="{
        'alert-primary': alert.type === 'primary',
        'alert-danger': alert.type === 'danger',
        'alert-success': alert.type === 'success',
      }">
    {{ alert.msg }}
</div>

<div class="flex gap-3">
    <button class="btn" (click)="alert = {msg: 'hello 1', type: 'primary'}">primary</button>
    <button class="btn" (click)="alert = {msg: 'hello 2', type: 'danger'}">danger</button>
    <button class="btn" (click)="alert = {msg: 'hello 3', type: 'success'}">success</button>
</div>